body {  background-color: #9CCCCC; }
p {
  font-family: sans-serif;
  padding: 35px;
  width: 333px;
  margin: 0 auto;
  border-style:solid;
  border-radius:2px
}
#action {
  font-family: sans-serif;
  padding: 35px;
  width: 333px;
  margin: 0 auto;
}